# Node
node_modules/

# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
.vs/
*.dll
*.exe
*.pdb
*.cache
*.nupkg
**/packages/
project.lock.json

# Rider
.idea/

# VS Code
.vscode/

# Environment
.env
.env*.local
*.log
